<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>About</title>
</head>
<body>
  <h1>About PGen</h1>
<p>PGen is a random paswword generator created by Anne-Louise Darko
using Django Web Development tutorial which can be found <a href="https://www.udemy.com/course/django-3-make-websites-with-python-tutorial-beginner-learn-bootstrap/">HERE</a>
</p>
</body>
</html>